@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 11%;
    --foreground: 210 20% 98%;
    --card: 220 13% 11%;
    --card-foreground: 210 20% 98%;
    --popover: 220 13% 11%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220 13% 11%;
    --secondary: 215 19% 25%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 19% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 215 19% 25%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 19% 25%;
    --input: 215 19% 25%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 11%;
    --foreground: 210 20% 98%;
    --card: 220 13% 11%;
    --card-foreground: 210 20% 98%;
    --popover: 220 13% 11%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220 13% 11%;
    --secondary: 215 19% 25%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 19% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 215 19% 25%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 19% 25%;
    --input: 215 19% 25%;
    --ring: 215 20.2% 65.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
